ul#about-wrap {
	display: flex;
	padding: 3rem 0 0 0;
	margin: 0;
	animation-name: land-in;
	animation-duration: 0.75s;
  	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	opacity: 0;

	@media #{$medium-height} {
		padding: 1rem 0 0 0;
	}

	li {
		list-style-type: none;
		padding: 0.3rem;
	}

	a.about-button {
		display: flex;
		justify-content: space-around;
		align-items: center;

		color: #E9E9E9;
		font-size: 1rem;
		text-decoration: none;

		padding: 0.2rem 0.5rem;
		border-radius: 4px;
		
		background-color: rgba(168, 168, 168, 0);

		transition-property: background-color;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;

		&:hover {
			background-color: rgba(168, 168, 168, 0.2);
		}

		
	}
}