img#face {
	border-radius: 100%;
	width: 10rem;
	height: 10rem;
	animation-name: land-out;
	animation-duration: 0.75s;
  	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	opacity: 0;

	@media #{$small-width} {
		width: 8rem;
		height: 8rem;
	}

	@media #{$small-height} {
		width: 8rem;
		height: 8rem;
	}
}