#icon-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 3rem 0rem 2rem 0rem;
	margin: 0;
	border-bottom: 1px solid #3B3C3E;
	animation-name: land-in;
	animation-duration: 0.75s;
  	animation-delay: 1.25s;
	animation-fill-mode: forwards;
	opacity: 0;

	@media #{$medium-height} {
		padding: 1rem 0rem;
	}

	@media #{$medium-width} {
		width: 90%;
	}

	@media #{$small-width} {
		width: 60%;
	}

	.icon {
		list-style-type: none;
	}

	a {
		color: #E9E9E9;
		text-decoration: none;
		margin: 0rem 0.4rem;
		width: 4rem;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(168, 168, 168, 0);
		border-radius: 100%;
		transition-property: background-color;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
		
		&:hover {
			background-color: rgba(168, 168, 168, 0.2);
		}
	}
}