h3#main-text {
	font-weight: normal;
	font-size: 1.2rem;
	animation-name: land-in;
	animation-duration: 0.75s;
  	animation-delay: 1s;
	animation-fill-mode: forwards;
	opacity: 0;

	@media #{$small-width} {
		font-size: 1.1rem;
	}
} 