$medium-height: "(max-height:736px)";
$small-height: "(max-height:600px)";
$medium-width: "(max-width: 1024px)";
$small-width: "(max-width: 450px)";
$smallest-width: "(max-width: 350px)";

html, body {
	padding: 0;
	margin: 0;
	min-width: 100%;
	height: 100%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	color: #E9E9E9;
	font-size: 100%;
	overflow: hidden;

	@media #{$medium-height} {
		font-size: 90%;
	}

	@media #{$smallest-width} {
		font-size: 80%;
	}
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #E9E9E9;

	main {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 45%;
		padding: 0rem 3rem;
		overflow: hidden;

		@media #{$medium-width} {
			width: 100%;
			padding: 0;
		}

		img {
			border-radius: 100%;
			width: 10rem;
			height: 10rem;
			animation-name: land-out;
			animation-duration: 0.75s;
		  	animation-delay: 0.5s;
			animation-fill-mode: forwards;
			opacity: 0;

			@media #{$small-width} {
				width: 8rem;
				height: 8rem;
			}

			@media #{$small-height} {
				width: 8rem;
				height: 8rem;
			}
		}

		h3 {
			margin: 0;
			text-align: center;
			padding: 3rem 0rem 0rem 0rem;

			@media #{$medium-height} {
				padding: 1rem 0rem 0rem 0rem;
			}
		}

		.greetings {
			font-family: 'Pacifico', 'Lobster', cursive;
			font-size: 3rem;
			font-style: italic;
			animation-name: land-in;
			animation-duration: 0.75s;
		  	animation-delay: 0.75s;
			animation-fill-mode: forwards;
			opacity: 0;

			@media #{$small-width} {
				font-size: 2.5rem;
			}
		}

		.main-text {
			font-weight: normal;
			font-size: 1.2rem;
			animation-name: land-in;
			animation-duration: 0.75s;
		  	animation-delay: 1s;
			animation-fill-mode: forwards;
			opacity: 0;

			@media #{$small-width} {
				font-size: 1.1rem;
			}
		} 

		.icon-wrap {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 3rem 0rem 2rem 0rem;
			margin: 0;
			border-bottom: 1px solid #3B3C3E;
			animation-name: land-in;
			animation-duration: 0.75s;
		  	animation-delay: 1.25s;
			animation-fill-mode: forwards;
			opacity: 0;

			@media #{$medium-height} {
				padding: 1rem 0rem;
			}

			@media #{$medium-width} {
				width: 90%;
			}

			@media #{$small-width} {
				width: 60%;
			}

			.icon {
				list-style-type: none;
			}

			a {
				color: #E9E9E9;
				text-decoration: none;
				margin: 0rem 0.4rem;
				width: 4rem;
				height: 4rem;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(168, 168, 168, 0);
				border-radius: 100%;
				transition-property: background-color;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
				
				&:hover {
					background-color: rgba(168, 168, 168, 0.2);
				}
			}
		}

		.about-wrap {
			display: flex;
			padding: 0;
			margin: 0;
			animation-name: land-in;
			animation-duration: 0.75s;
		  	animation-delay: 1.5s;
			animation-fill-mode: forwards;
			opacity: 0;

			@media #{$medium-height} {
				padding: 1rem 0rem;
			}

			li {
				list-style-type: none;
			}

			.about-button {
				color: #E9E9E9;
				text-decoration: none;
				margin: 3rem 1rem;
				width: 5rem;
				height: 1.8rem;
				border-radius: 4px;
				background-color: rgba(168, 168, 168, 0);
				display: flex;
				justify-content: space-around;
				align-items: center;
				transition-property: background-color;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
				font-size: 1rem;

				&:hover {
					background-color: rgba(168, 168, 168, 0.2);
				}

				@media #{$small-width} {
					margin: 1rem 1rem;
				}

				@media #{$medium-height} {
					margin: 1rem 1rem;
				}
			}
		}
	}
	

	footer {
		display: flex;
		justify-content: center;

		p {
			font-size: 0.8rem;
			color: #767678;

			@media #{$small-width} {
				display: none;
			}

			@media #{$small-height} {
				display: none;
			}
		}
	}
}

#bg {
	background: url("../img/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	position: absolute;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    animation-name: bg-anim;
	animation-duration: 0.75s;
  	animation-delay: 0.25s;
	animation-fill-mode: forwards;

	@media #{$medium-height} {
		background-image: url("../img/bg-medium.jpg");
	}

	@media #{$medium-height} {
		background-image: url("../img/bg-medium.jpg");
	}

	@media #{$medium-width} {
		background-image: url("../img/bg-medium.jpg");
	}

	@media #{$small-height} {
		background-image: url("../img/bg-small.jpg");
	}

	@media #{$small-width} {
		background-image: url("../img/bg-small.jpg");
	}
}

@keyframes land-in {
	0% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% {
	    opacity: 1;
	    transform: scale(1);
	}
}

@keyframes land-out {
	0% {
	    opacity: 0;
	    transform: scale(0.8);
	}
	100% {
	    opacity: 1;
	    transform: scale(1);
	}
}

@keyframes bg-anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}