div#lang-wrap {
	display: flex;

	position: fixed;
	top: 0;
	right: 0;

	padding:.5rem;
	
	opacity: 0;

	animation: land-in 0.75s 2s forwards, color-change 2.5s 0.75s forwards;

	a {
		text-decoration: none;
		font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 1.2rem;
		color: rgba(233, 233, 233, 1);
		
		background-color: rgba(233, 233, 233, 0);

		padding:.5rem;
		margin: .5rem;

		border-radius: 3px;

		transition: background-color 0.5s;
		transition: color 0.2s;
		transition-timing-function: easy-in;

		&:hover {
			background-color: rgba(233, 233, 233, 1);
			color: rgba(69, 69, 69, 1);
		}
	}
}