@keyframes land-in {
	0% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% {
	    opacity: 1;
	    transform: scale(1);
	}
}

@keyframes land-out {
	0% {
	    opacity: 0;
	    transform: scale(0.8);
	}
	100% {
	    opacity: 1;
	    transform: scale(1);
	}
}

@keyframes bg-anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes disapear {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}